.profileInfo {
    /*display: grid;*/
    /*grid-template-columns: 1fr 4fr;*/
}

.info {
    background-color: #fff;
    margin: -20px 5px 5px;
    border-radius: 5px;
    padding: 5px;
}

.avatar {
    border-radius: 50%;
    height: 110px;
    width: 110px;
    padding: 5px;
    margin-left: 33%;
}

.myPosts {
    padding: 5px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.postContent {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    border-bottom: 1px solid silver;
}

.sendInfo {
    display: grid;
    grid-template-columns: 5fr 1fr;
    padding: 5px;
    border-bottom: 1px solid silver;
}