.profileInfo {
    /*display: grid;*/
    /*grid-template-columns: 1fr 4fr;*/
}

.fullName {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    left: 25%;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial;
}

.info {
    background-color: #fff;
    margin: -20px 5px 5px;
    border-radius: 5px;
    padding: 5px;
}

.avatar {
    border-radius: 50%;
    height: 110px;
    width: 110px;
    padding: 5px;
    margin-left: 40%;
}

.contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.myPosts {
    padding: 5px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.postContent {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
    border-bottom: 1px solid silver;
}

.postInfo {
    display: grid;
    grid-template-columns: 650px 1fr;
    padding: 5px;
    border-bottom: 1px solid silver;
}

.postButton {
    width: 37px;
    height: 37px;
    /*border-radius: 50%;*/
    background-color: transparent;
    border: 1px solid;
    /*background-color: lightblue;*/
}

.userInfo{
    display: flex;
    flex-direction: row;
}